// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@media (max-width: 780px){
    .progress-icon img{
        display: none;
    }
}

@media (min-width: 780px){
    .progress-icon img {
        max-width: 150px;
        max-height: 150px;
    }
}


.img-responsive {
    width: 100%;
    height: auto;
    margin: auto;
}
.courseCard {
    background: #efefef;
    margin-top: 20px;
}
.cardDescription {
    margin-top: 10px;
    padding: 0 20px;
}
.cardTitle h2 {
    font-size: 20px;
    color: #1fa850;
    font-weight: 600;
    margin-bottom: 8px;
}
.progress {
    background-color: #fff!important;
    height: 10px!important;
}
.progress-bar {
    background-color: #1fa850!important;
}
.progress-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
.card-button-wrapper {
    padding: 10px 20px;
}
.text-center {
    text-align: center!important;
}
.courseCard a {
    width: 100%;
}
.card-button-wrapper button {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
}
.startCourse {
    background: #cd282f;
}
.courseButton {
    background: #313131;
}
.courseButton :hover {
    background: #cd282f!important;
}

.single_course_header {
    background: #343434;
    padding: 26px;
}
.course_description {
    color: #fff;
}

